@import "./util";
@import "./overwrite";

/*original*/

.marker{
  display: inline-block;
  line-height:1;
  background: linear-gradient(transparent 50%, #ffff66 50%);
}

.markerIn > *{
  display: inline-block;
  line-height:1;
  background: linear-gradient(transparent 50%, #ffff66 50%);
}

.borderBox {
  border:1px solid #222;
  padding:10px;
}